<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
</th:block>

<th:block th:fragment="head_tables">
	<!--  tables help&reference: http://live.datatables.net/vetuziru/69/edit -->
	<!-- http://matera.com/br/2017/02/16/crud-com-spring-e-thymeleaf/ -->

	<link href="/webjars/datatables/1.10.16/css/jquery.dataTables.min.css"
		rel="stylesheet" type="text/css" />
	<script src="/webjars/datatables/1.10.16/js/jquery.dataTables.min.js"></script>
</th:block>
<th:block th:fragment="head_font_awesome_css">
<link href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css"
		rel="stylesheet" media="screen">
	</link>
</th:block>
<th:block th:fragment="head_jquery">
	<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
</th:block>
<th:block th:fragment="head_moment">
	<script src="/webjars/moment/2.21.0/min/moment.min.js"></script>
</th:block>
<th:block th:fragment="head_jquery_UI">
	<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
</th:block>
<th:block th:fragment="head_bootstrap_datetimepicker">
	<script src="/webjars/bootstrap-datetimepicker/2.4.2/js/bootstrap-datetimepicker.min.js"></script>
</th:block>
<th:block th:fragment="head_bootstrap_datetimepicker_css">
<link href="/webjars/bootstrap-datetimepicker/2.4.2/css/bootstrap-datetimepicker.min.css"
		rel="stylesheet" />
</th:block>

<th:block th:fragment="head_select2">
	<link href="/webjars/select2/4.0.3/css/select2.min.css"
		rel="stylesheet" media="screen">
	</link>
</th:block>

<th:block th:fragment="head_select2_css">
	<link href="/webjars/select2/4.0.3/css/select2.min.css"
		rel="stylesheet" media="screen">
	</link>
</th:block>


<th:block th:fragment="head_bootstrap">
	<script src="/webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</th:block>

<th:block th:fragment="head_bootstrap_css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
<!-- este css tiene problemas para los campor datetimepicker -->
<!-- 	<link href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css" -->
<!-- 		rel="stylesheet" media="screen"> -->
<!-- 	</link> -->
	
</th:block>


<th:block th:fragment="head_tether">
	<script src="/webjars/tether/1.4.0/js/tether.min.js"></script>
</th:block>

<th:block th:fragment="head_tether_css">
	<link href="/webjars/tether/1.4.0/css/tether.min.css"
		rel="stylesheet" media="screen">
	</link>
</th:block>


<th:block th:fragment="head_tempusdominus">
	<script src="/webjars/github-com-tempusdominus-bootstrap-4/5.0.0-alpha16/js/tempusdominus-bootstrap-4.min.js"></script>
</th:block>


<th:block th:fragment="head_tempusdominus_css">
	<link href="/webjars/github-com-tempusdominus-bootstrap-4/5.0.0-alpha16/css/tempusdominus-bootstrap-4.min.css"
		rel="stylesheet" media="screen">
	</link>
</th:block>


<th:block th:fragment="styleTable">
	<style type="text/css">
body {
	font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Verdana, Arial,
		Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fff;
}
</style>
</th:block>

<th:block th:fragment="actionsOnTable">
</th:block>

<th:block th:fragment="tableHook (tableName, entityName)">
	<script th:inline="javascript" type="text/javascript">
	/*<![CDATA[*/
	    $(document).ready( function () {
	    	
	    	console.log("Include READY");
	    	var tn=[[${tableName}]];
	    	var table = $('#'+tn).DataTable();
	    	var ent = [[${entityName}]];
	    	  
	    	  $('#example tbody').on( 'click', 'button', function () {
	    	        //var data = table.row( $(this).parents('tr') ).data();
	    	        //alert( data[0] +"'s salary is: "+ data[ 5 ] );
	    	        
	    	       
	    	       var data = table.row( $(this).parents('tr') ).data();
	    		   var bid = this.id; // button ID
	    		   //var trid = $(this).closest('tr');
	    		   //var tds =trid.find("td:nth-child(1)");
	    		   var act;
	    		   
	    		   if (bid=='edit'){
	    			   var tr = $("#form-body");
	    			   var path = '/'+ent+'/ajax/'+bid+'/'+data.id;
	    			   //alert(path);
						tr.load(path);
	    	  		$("#modalForm").modal();
	    		   }else {
	    			   var got0="/"+ent+"/"+bid+"/"+ data.id;
		    		   //alert("go to: " + got0);
		    		   //window.location.href = got0;
		    		   httpGetAsync(got0,function(){
		    			   console.log("reload()");
		    			   table.ajax.reload(null,false);   
		    		   });
	    			   
	    		   }

	    	    } );
	    	
	    	  $('#modalForm').on('hidden.bs.modal', function () {
	  	    	console.log("reload table");
	  	    	table.ajax.reload(null,false);
	  	    })
	    
	    } );
	
	    function httpGetAsync(theUrl, callback)
	    {
	        var xmlHttp = new XMLHttpRequest();
	        xmlHttp.onreadystatechange = function() { 
	            if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
	                callback(xmlHttp.responseText);
	        }
	        xmlHttp.open("GET", theUrl, true); // true for asynchronous 
	        xmlHttp.send(null);
	    }
	    
	    
	    function newItemFunction(){
	    	
	    	//alert('newItemFunction');
	    	
	    	var ent = [[${entityName}]];
	    	var got0="/"+ent+"/ajax/add";
	    	var tr = $("#form-body");
	    	tr.load(got0);
	    	
    		$("#modalForm").modal();
    		
    		return false;
	    }
	    
	    
	    /*]]>*/
	    </script>
</th:block>

<th:block th:fragment="client-notification">
<script src="/webjars/bootstrap-notify/3.1.3/bootstrap-notify.min.js"></script>
	<script th:inline="javascript" type="text/javascript">
	function clint_notify(message, eventType) {
		$.notify({
			// options
			message: message 
		},{
			// settings
			type: eventType,
			z_index: 2000
		});

	}
	</script>
</th:block>
<th:block th:fragment="notification">
<!-- NOTIFICATION FRAGMENT START -->
	<script src="/webjars/bootstrap-notify/3.1.3/bootstrap-notify.min.js"></script>
	<script th:inline="javascript" type="text/javascript">
function initialize() {
	const eventSource = new EventSource('/events');
	console.log('starting event initialization');
	eventSource.onmessage = e => {
		console.log('event arriving');
		const msg = JSON.parse(e.data);		
		
		$.notify({
			// options
			message: msg.eventText 
		},{
			// settings
			type: msg.eventType,
			z_index: 2000
		});
		
	};
	
	eventSource.onopen = e => console.log('open');
	eventSource.onerror = e => {
		if (e.readyState == EventSource.CLOSED) {
			console.log('close');
		}
		else {
			console.log(e);
		}
	};
	
	//eventSource.addEventListener('second', function(e) {
	//	  console.log('second', e.data);
	//	}, false);	
}
$(document).ready( initialize());
</script>
<!-- NOTIFICATION FRAGMENT END -->
	
</th:block>
</html>