<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    
    <title>Add-Edit Company Type</title>
    
  <div th:replace="fragments/include :: head"></div>
  <div th:replace="fragments/include :: head_jquery"></div>
  <div th:replace="fragments/include :: head_font_awesome"></div>
  <div th:replace="fragments/include :: head_bootstrap"></div>
  


      
</head>
<body>
<div th:fragment="form (mode)">

<script th:inline="javascript" type="text/javascript">

  $(document).ready( function () {
	  alert("Here");
		$("#saveButton").click(function(){
			
			var ent = 'companytype';
			var mode = [[${mode}]];
			alert("1 Mode: " + mode + " Entity: " + ent);
			if (mode=='popup'){
				alert("2 Mode: " + mode + " Entity: " + ent);
				   var tr = $("#form-body");
				   var path = '/'+ent+'/ajax/save/';
				   var form_data = $('#entityForm').serializeArray();
				   alert(tr.html());
				   alert(path);
				   alert(form_data);
					tr.load(path,form_data);
					
					return false;
			 } else {
				 alert("3 Mode: " + mode + " Entity: " + ent);
				 $("form").submit(function(){
					 alert("Mode: " + mode + " Entity: " + ent);
					 
				    });
			 }
			
		});
  });

	 	 
		 
	

</script>



	
    <div class="panel panel-default" >
        <div class="panel-heading">
            <strong>Add/Edit Company Type</strong>
        </div>
        <div class="panel-body">
            <form id="entityForm" class="form-horizontal" th:object="${companyType}" th:action="${mode}=='popup'?@{/companytype/ajax/save}:@{/companytype/save}" method="POST" style="margin: 10px">
                <div class="form-group">
                    <fieldset>
                        <div class="form-group row">
                            <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                <div th:each="detailedError : ${#fields.detailedErrors()}">
                                    <span th:text="${detailedError.message}"></span>
                                </div>
                            </div>
                        </div>                    
                        <div class="form-group row">
                            <div class="col-md-1">
                                <input type="text" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly"/>
                            </div>
                         </div>
                        <div class="form-group row">                                                          
                            <div class="col-md-4" th:classappend="${#fields.hasErrors('Description')}? 'has-error'">
                                <label>Description</label>
                                <input type="text" class="form-control input-sm" th:field="*{description}" autofocus="autofocus" placeholder="Company Type´s description" maxlength="50"/>
                            </div>
                        </div>
                                                
                    </fieldset>
                </div>
                <div class="form-group row">
                    <button id="saveButton" class="btn btn-sm btn-primary">Save</button>
                    <a th:href="@{/}" class="btn btn-sm btn-default">Cancel</a>
                </div>
            </form>
        </div>
    </div>
    </div>
    
    
</body>
</html>