<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    
    <title>Add-Edit Company Type</title>
    
  <div th:replace="fragments/include :: head"></div>
  <div th:replace="fragments/include :: head_jquery"></div>
  <div th:replace="fragments/include :: head_font_awesome"></div>
  <div th:replace="fragments/include :: head_bootstrap"></div>
  <div th:replace="fragments/include :: notification"></div> -->
      
</head>
<body>
<div th:fragment="form (mode)">

<script th:inline="javascript" type="text/javascript">

  $(document).ready( function () {
	  //alert("Here");
		$("#saveButton").click(function(){
			
			var ent = [[${rootName}]];
			var mode = [[${mode}]];
			//alert("1 Mode: " + mode + " Entity: " + ent);
			if (mode=='popup'){
				//alert("2 Mode: " + mode + " Entity: " + ent);
				   var tr = $("#form-body");
				   var path = '/'+ent+'/ajax/save/';
				   var form_data = $('#entityForm').serializeArray();
				   //alert(tr.html());
				   //alert(path);
				   //alert(form_data);
					tr.load(path,form_data);
					
					return false;
			 } else {
				 //alert("3 Mode: " + mode + " Entity: " + ent);
				 $("form").submit(function(){
					 //alert("Mode: " + mode + " Entity: " + ent);
					 
				    });
			 }
			
		});
		
	   var bindDatePicker = function() {
			$(".date").datetimepicker({
	        format:'YYYY-MM-DD',
				icons: {
					time: "fa fa-clock-o",
					date: "fa fa-calendar",
					up: "fa fa-arrow-up",
					down: "fa fa-arrow-down"
				}
			}).find('input:first').on("blur",function () {
				// check if the date is correct. We can accept dd-mm-yyyy and yyyy-mm-dd.
				// update the format if it's yyyy-mm-dd
				var date = parseDate($(this).val());

				if (! isValidDate(date)) {
					//create date based on momentjs (we have that)
					date = moment().format('YYYY-MM-DD');
				}

				$(this).val(date);
			});
		}
		   
	   var isValidDate = function(value, format) {
			format = format || false;
			// lets parse the date to the best of our knowledge
			if (format) {
				value = parseDate(value);
			}

			var timestamp = Date.parse(value);

			return isNaN(timestamp) == false;
	   }
	   
	   var parseDate = function(value) {
			var m = value.match(/^(\d{1,2})(\/|-)?(\d{1,2})(\/|-)?(\d{4})$/);
			if (m)
				value = m[5] + '-' + ("00" + m[3]).slice(-2) + '-' + ("00" + m[1]).slice(-2);

			return value;
	   }
	   
	   bindDatePicker();
  });

	 	 
		 
	

</script>



	
    <div class="panel panel-default" >
        <div class="panel-heading">
            <strong th:text="${title}">TITLE</strong>
        </div>
        <div class="panel-body">
            <form id="entityForm" class="form-horizontal" th:object="${driver}" th:action="${mode}=='popup'?@{${'/'+rootName+'/ajax/save'}}:@{${'/'+rootName+'/save'}}" method="POST" style="margin: 10px">
                <div class="form-group">
                    <fieldset>
                        <div class="form-group row">
                            <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                <div th:each="detailedError : ${#fields.detailedErrors()}">
                                    <span th:text="${detailedError.message}"></span>
                                </div>
                            </div>
                        </div>                    
                        <div class="form-group row">
                            <div class="col-md-2">
                                <input type="text" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly"/>
                            </div>
                         </div>
                         
                         <div class="form-group row">                                                          
                            <div class="col-md-5">
                                <label>Company</label>
                                <select id="companies" th:field="*{company}" th:classappend="${#fields.hasErrors('company')}? 'col-md-5 is-invalid':'col-md-5 is-valid'">
								  <option th:each="company : ${allCompanies}" 
								          th:value="${company.id}" 
								          th:text="${company.description}">Companies</option>
								</select>
                            </div>
                        </div>
                         
                        <div class="form-group row">                                                          
                            <div class="col-md-10">
                                <label>Document Number</label>
                                <input type="text" class="form-control input-sm" th:classappend="${#fields.hasErrors('documentNumber')}? 'is-invalid':'is-valid'" th:field="*{documentNumber}" autofocus="autofocus" th:placeholder="#{driver.documentNumber.placeholder}" maxlength="50"/>
                            </div>
                        </div>
                        
                        <div class="form-group row">                                                          
                            <div class="col-md-10">
                                <label>Name</label>
                                <input type="text" class="form-control input-sm" th:classappend="${#fields.hasErrors('name')}? 'is-invalid':'is-valid'" th:field="*{name}" autofocus="autofocus" th:placeholder="#{driver.name.placeholder}" maxlength="50"/>
                            </div>
                        </div>
                        
                        <div class="form-group row">                                                          
                            <div class="input-group date">
                                <label>License last valid date</label>
                                <input type="text" class="form-control" th:classappend="${#fields.hasErrors('driverLicenceExpireDate')}? 'is-invalid':'is-valid'" th:field="*{driverLicenceExpireDate}" autofocus="autofocus" th:placeholder="#{driver.driverLicenceExpireDate.placeholder}"/>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        
                        <div class="form-group row">                                                          
                            <div class="col-md-10">
                                <label>License Number</label>
                                <input type="text" class="form-control input-sm" th:classappend="${#fields.hasErrors('driverLicenceNumber')}? 'is-invalid':'is-valid'" th:field="*{driverLicenceNumber}" autofocus="autofocus" th:placeholder="#{driver.driverLicenceNumber.placeholder}" maxlength="50"/>
                            </div>
                        </div>
                        
                        <div class="form-group row">                                                          
                            <div class="input-group date">
                                <label>ART last valid date</label>
                                <input type="text" class="form-control" th:classappend="${#fields.hasErrors('driverLicenceExpireDate')}? 'is-invalid':'is-valid'" th:field="*{driverLicenceExpireDate}" autofocus="autofocus" th:placeholder="#{driver.driverLicenceExpireDate.placeholder}"/>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        
                        <div class="form-group row">                                                          
                            <div class="col-md-10">
                                <label>CUIT</label>
                                <input type="text" class="form-control input-sm" th:classappend="${#fields.hasErrors('afipdata')}? 'is-invalid':'is-valid'" th:field="*{afipdata}" autofocus="autofocus" th:placeholder="#{driver.afipdata.placeholder}" maxlength="50"/>
                            </div>
                        </div>
                        
                        <div class="form-group row">                                                          
                            <div class="col-md-10">
                                <label>Telephone</label>
                                <input type="text" class="form-control input-sm" th:classappend="${#fields.hasErrors('telephone')}? 'is-invalid':'is-valid'" th:field="*{telephone}" autofocus="autofocus" th:placeholder="#{driver.telephone.placeholder}" maxlength="50"/>
                            </div>
                        </div>
                                          
                    </fieldset>
                </div>
                <div class="form-group row">
                    <button id="saveButton" class="btn btn-sm btn-primary">Save</button>
<!--                     <a th:href="@{/}" class="btn btn-sm btn-default">Cancel</a> -->
                </div>
            </form>
        </div>
    </div>
    </div>
    
    
</body>
</html>