<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<div th:replace="fragments/include :: head"></div>
<div th:replace="fragments/include :: head_jquery"></div>
<div th:replace="fragments/include :: head_tables"></div>
<div th:replace="fragments/include :: head_bootstrap"></div>
<div th:replace="fragments/include :: head_select2"></div>
<div th:replace="fragments/include :: styleTable"></div>

<div th:replace="fragments/include :: head_jquery_validator"></div>

<div th:replace="fragments/include :: head_bootstrap_css"></div>
<div th:replace="fragments/include :: head_select2_css"></div>
<div th:replace="fragments/include :: head_font_awesome_css"></div>
</head>
<body>

	<div class="container-fluid">

		<div class="row">
			<div class="col-md-8 col-md-offset-2 panel">
				<div class="page-header">
					<div class="alert alert-info" role="alert">
						<h4>Vehicles check in page.</h4>
					</div>
				</div>


				<div class="panel-heading">
					<h3 class="panel-title">Samseng Entrada de Vehiculos</h3>
				</div>
				<div class="panel-body">
					<form id="checkinForm" class="form-horizontal">


						<div class="form-group">
							<label class="col-md-4 control-label" for="vehicleID">Identificacion
								del vehiculo</label>
							<div class="col-md-12">
								<input type="text" class="form-control" id="vehicleID"
									name="vehicleID" placeholder="Vehicle ID" />
							</div>
						</div>

						<fieldset disabled="disabled">
							<div class="form-group">
								<label class="col-md-4 control-label" for="company">Empresa</label>
								<div class="col-md-12">
									<input type="text" class="form-control" id="company"
										name="company" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-4 control-label" for="vehicleType">Tipo
									de vehiculo</label>
								<div class="col-md-12">
									<input type="text" class="form-control" id="vehicleType"
										name="vehicleType" />
								</div>
							</div>
						</fieldset>


						<div class="form-group">
							<label class="col-md-4 control-label" for="vehicleType">Conductores
								del vehiculo</label>
							<div class="col-md-12">
								<select multiple="multiple" id="vehicleDrivers"
									class="form-control .js-example-basic-multiple js-data-example-ajax"></select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-4 control-label" for="sector">Sector
								de destino</label>
							<div class="col-md-12">
								<select id="sector"
									class="form-control .js-example-basic-multiple js-data-example-ajax"></select>
							</div>
						</div>

						<div class="panel-heading">
							<h3 class="panel-title">Verificaciones</h3>
						</div>
						<div class="panel-body">

							<ol>
							
								<div id="questions"> 
								</div>
							
							</ol>
						</div>


						
							<div class="col-md-9 col-md-offset-4">
								<button onclick="mysubmit(this);false" class="btn btn-primary" name="checkIn"
									>Check in</button>
							</div>
						
					</form>
				</div>
			</div>
		</div>
	</div>


	<script type="text/javascript">
	
	class Question {
		constructor(id, response, description){
			this.id = id;
			this.response = response;
			this.description = description;
		}
		
	}
	
	var vehicleData;
	
	var questions = [];
	
	function mysubmit(component){
		var form = $("#checkinForm");
		formData = getFormData();
		
		console.log(formData);
		
		$.ajax({
	          url: 'vehiclecheckin/save',
	          type: 'POST',
		  contentType: false,
		  data: formData,  
		  processData: false,
		  cache: false,
		  success: function (respuestaAjax) {
		    alert('Excelente!');
		  }
		});
		//action="vehiclecheckin/save"
	}
	
	function getFormData(){
// 			  "id" : null,
// 			  "sector" : null,
// 			  "vehicle" : null,
// 			  "dateTimestamp" : null,
// 			  "drivers" : [ ],
// 			  "vehicleLogs" : [ ],
// 			  "vehicleRegisteredCheckLists" : [ ]
	
		fd = new FormData();
		fd.append("sector",$("#sector").val());
		fd.append("vehicle",$("#vehicleID").val());
// 		fd.append("dateTimestamp",null);
		fd.append("drivers",$("#vehicleDrivers").val());
// 		fd.append("vehicleLogs",[ ]);
// 		fd.append("vehicleRegisteredCheckLists",[ ]);

	//Object.keys(questions).foreach({
	questions.forEach(function (it,index){
		console.log("index[" + index + "]: " + it );
		
	});
	
	console.log( Object.keys(questions) );

		
		
		return fd;
	
	}
	
	function getContextRoot(){
		var ret = window.location.protocol;
		ret = ret + window.location.host + "/";
		return "";
	}
	
	function setVehicleInfo(company, vehicleDescription){
		$("#company").val( company );
    	$("#vehicleType").val( vehicleDescription );
	}
	
	function onVehicleFound(){
		getVehicleData(function (data){
				vehicleData = data;
// 	           console.log(JSON.stringify(vehicleData, null, 2));
				setVehicleInfo(vehicleData[0].company.name,vehicleData[0].vehicleType.description);
	        	
	        	prepareQuestions();
	        	}   
	           );
		
	}
		
	
	
	function onVehicleNOTFound(){
		//alert("onVehicleNOTFound()");
		$('#questions').empty();
		$("#vehicleDrivers").val('').trigger('change');
		setVehicleInfo("","");
	}
	
	function isEmpty( el ){
	      return !$.trim(el.html())
	 }
	
	function prepareQuestions(){
		
		if (!isEmpty($('#questions'))){
			return;
		}
		
		getBriefingCuestions(function(data) {
// 			console.log("questions: " +  JSON.stringify(data, null, 2));
			
			var question = "NOT STARTED";
			questions = [];
			
			//alert("preparingQuestions");
			
			var cnt = 0;
			$.each(data, function(key,value){
				var question = value.question;
				var questionID = value.id;
				var questionTemplate = `
					<row>
						<li>
						<div class='form-control form-rounded'>
							<div class='col-md-12'>
								<label>${question}</label>
								<button id='qok_${cnt}' class='btn' onclick='checkOk(this);'>
									<i class='fa fa-check'></i>
								</button>
								<button id='qproblem_${cnt}' class='btn' onclick='checkProblem(this);'>
									<i class='fa fa-remove'></i>
								</button>
							</div>
							<div id='qproblem-description_${cnt}' class='d-none'>
								<label>Describa el problema:</label> <input type='text' 
									name ='label_${cnt}' class='col-md-4 form-control'></input>
							</div>
						</div>
					</li>
					</row>`;
// 			    alert(questionTemplate);
			    $( questionTemplate ).appendTo( "#questions" );
			    cnt ++;
			}
			);
			var hidden = `<input id='questions' type='hidden' value='${cnt}'/>`;
			$( hidden ).appendTo( "#questions" );
		});
	}
	
	function getVehicleData(closure){
		$.getJSON( getContextRoot() + "vehiclecheckin/getvehicle/" + $( "#vehicleID" ).val(),
				closure);	
	}
	
	function getBriefingCuestions(closure){
		$.getJSON( getContextRoot() + "briefingquestions/questionsByBriefingID/" + vehicleData[0].vehicleType.briefing.id ,
				closure);
	}
	
	function getIndex( component ){
		return $( component ).attr('id').split("_")[1];
	}
	
	function checkOk(component)
	{
		var inx=""+getIndex( component );
		var descID = "#qproblem-description_" + inx;
		
		$( component ).addClass("btn-success");
		$("#qproblem_" + inx).removeClass("btn-danger");
		$( descID ).addClass("d-none");
		
		$("#checkinForm").validate();
		$( descID ).rules( "remove" );
		
		questions[inx]=1;
		
	}
	
	function checkProblem(component)
	{
		var inx=getIndex( component );
		var descID = "#qproblem-description_" + inx;
		
		$( component ).addClass("btn-danger");
		$("#qok_" + inx).removeClass("btn-success");
		$( descID ).removeClass("d-none");
		
		$("#checkinForm").validate();
		$( descID ).rules( "add", {
			  required: true,
			  messages: {
			    required: "Required input"
			  }
			});

		
		questions[inx]=0;
	}
	
		$.validator.setDefaults({
			submitHandler : function() {
				//alert("submitted!");
			}
		});
		
				$(document)
				.ready(
						function() {
							

							$('#vehicleDrivers').select2({
								maximumSelectionLength : 2,
								ajax : {
									url : function() {var url = getContextRoot()+'driver/ajax/getdrivers/' + vehicleData[0].company.id;console.log(url); return url;},
									dataType : 'json'

								},
								placeholder: "Select a driver"
							    
							});
							
							$('#sector').select2({
								maximumSelectionLength : 2,
								ajax : {
									url : function() {var url = getContextRoot()+'sector/ajax/getsectors'; return url;},
									dataType : 'json'

								},
								placeholder: "Select a Sector"
							    
							});

							$("#checkinForm")
									.validate(
											{
												rules : {
													vehicleID : {
														required : true,
														minlength : 2,
														remote : function() {
															return {
																url : getContextRoot() + "vehiclecheckin/isvehicleregistered/"
																		+ $('#vehicleID').val(),
																data : ''
															}

														}
													}
												},
												messages : {

													vehicleID : {
														required : "Please enter the vehicle ID",
														minlength : "The vehicle ID is not valid",
														remote : "The vehicle ID does not exist in our database"
													}

												},
												errorElement : "em",
												errorPlacement : function(
														error, element) {
													console
															.log("errorPlacement");
													onVehicleNOTFound();
													// Add the `help-block` class to the error element
													$(element)
															.addClass(
																	"form-control-danger");
													//$( element ).addClass( "form-control-feedback" );

													// Add `has-feedback` class to the parent div.form-group
													// in order to add icons to inputs
													$(element)
															.parents(
																	".form-group")
															.removeClass(
																	"has-success")
															.addClass(
																	"has-danger");

													if (element.prop("type") === "checkbox") {
														error
																.insertAfter(element
																		.parent("label"));
													} else {
														error
																.insertAfter(element);
													}

													// Add the span element, if doesn't exists, and apply the icon classes to it.
													if (!element.next("span")[0]) {
														var classData = "'fa fa-remove form-control-feedback'";
														var aux = "<span class="+classData+"></span>";
														$(aux).insertAfter(
																element);
													}
												},
												success : function(label,
														element) {
													
													onVehicleFound();

													$(element)
															.parents(
																	".form-group")
															.removeClass(
																	"has-danger")
															.addClass(
																	"has-success");
													$(element)
															.removeClass(
																	"form-control-danger");
													$(element)
															.addClass(
																	"form-control-success");

													// Add the span element, if doesn't exists, and apply the icon classes to it.
													if (!$(element)
															.next("span")[0]) {
														var classData = "'fa fa-ok form-control-feedback'";
														var aux = "<span class="+classData+"></span>";
														$(aux).insertAfter(
																$(element));
														console.log("Success");
													}
												},
												highlight : function(element,
														errorClass, validClass) {
													$(element)
															.parents(
																	".form-group")
															.removeClass(
																	"has-success")
															.addClass(
																	"has-danger");

													$(element)
															.addClass(
																	"form-control-danger");
													$(element)
															.removeClass(
																	"form-control-success");

													$(element)
															.next("span")
															.addClass(
																	"fa-remove")
															.removeClass(
																	"fa-ok");
													console.log("highlight");
													onVehicleNOTFound();
												},
												unhighlight : function(element,
														errorClass, validClass) {

													$(element)
															.parents(
																	".form-group")
															.removeClass(
																	"has-danger")
															.addClass(
																	"has-success");

													$(element)
															.addClass(
																	"form-control-success");
													$(element)
															.removeClass(
																	"form-control-danger");

													$(element)
															.next("span")
															.addClass("fa-ok")
															.removeClass(
																	"fa-remove");
													console.log("UNhighlight");
												}
											});
						});
	
	</script>
</body>
</html>